{
  "twitch:ann": {
    "name": "Ann",
    "platform": "twitch",
    "coins": 1450,
    "crest": {
      "shape": "blob",
      "pattern": "checker",
      "emblem": "paw",
      "primary": "bubblegum",
      "secondary": "charcoal"
    },
    "pets": [
      {
        "id": "p1-mu2tb5e4",
        "species": "dog",
        "name": "Dog",
        "colour": "lagoon",
        "eyes": "gold",
        "xp": 0,
        "level": 1,
        "accessories": {
          "hat": "beanie"
        },
        "bornAt": 1789485241612,
        "fedAt": null,
        "fedDay": null,
        "mealsToday": 0,
        "shiny": false
      }
    ],
    "activePet": "p1-mu2tb5e4",
    "inventory": [
      "partyhat",
      "shiny:moss",
      "beanie"
    ],
    "stats": {
      "played": 0,
      "wins": 0,
      "fed": 0,
      "streak": 0,
      "lastFedDay": null
    },
    "joinedAt": 1789485241612,
    "lastSeen": 1789487967073
  },
  "twitch:zoe": {
    "name": "Zoe",
    "platform": "twitch",
    "coins": 100,
    "crest": {
      "shape": "hexagon",
      "pattern": "dots",
      "emblem": "paw",
      "primary": "honey",
      "secondary": "moss"
    },
    "pets": [
      {
        "id": "p1-mu2tq9lt",
        "species": "cat",
        "name": "Noodle",
        "colour": "biscuit",
        "eyes": "onyx",
        "xp": 15,
        "level": 2,
        "accessories": {},
        "bornAt": 1789485946913,
        "fedAt": 1789485947934,
        "fedDay": "2026-09-15",
        "mealsToday": 3
      }
    ],
    "activePet": "p1-mu2tq9lt",
    "inventory": [],
    "stats": {
      "played": 0,
      "wins": 0,
      "fed": 3,
      "streak": 1,
      "lastFedDay": null,
      "renamed": 1
    },
    "joinedAt": 1789485946913,
    "lastSeen": 1789485948440
  },
  "twitch:kai": {
    "name": "Kai",
    "platform": "twitch",
    "coins": 100,
    "crest": {
      "shape": "circle",
      "pattern": "dots",
      "emblem": "dice",
      "primary": "mint",
      "secondary": "charcoal"
    },
    "pets": [
      {
        "id": "p1-mu2tqb6h",
        "species": "duck",
        "name": "Duck",
        "colour": "biscuit",
        "eyes": "onyx",
        "xp": 0,
        "level": 1,
        "accessories": {},
        "bornAt": 1789485948953,
        "fedAt": null,
        "fedDay": null,
        "mealsToday": 0
      }
    ],
    "activePet": "p1-mu2tqb6h",
    "inventory": [],
    "stats": {
      "played": 0,
      "wins": 0,
      "fed": 0,
      "streak": 0,
      "lastFedDay": null
    },
    "joinedAt": 1789485948700,
    "lastSeen": 1789485948953
  }
}
